
body{
    background-color: green;
}

h1, h2{
    color: firebrick;
}

h1{
    text-align: center;
    -webkit-text-stroke: 1px #000
}

#you, #playerCards, #playerCount{
    float: right;
}

#dealer, #dealerCards, #dealerCount{
    float: left;
}

#buttons {
    text-align: center;
}